body {
  padding: 0;
  margin: 0;
  background-color: rgb(129, 186, 184);
}

.col-md-12 {
  background-color: paleturquoise;
  border-color: cornflowerblue;
}

h1 {
  font-family: cursive;
}

.well {
  background-color: paleturquoise;
}

.panel-primary>.panelheading {
  background-color: teal;
  border-color: teal

}
